<template>
  <main class="main">
    <router-view/>
    <!-- Quiz container -->

    <div class="bg-success container shadow-lg rounded-lg d-flex p-2 justify-content-center">
      <h2> Questions </h2>
    </div>
    <div id="sdf" class="container shadow-lg rounded-lg d-flex p-2 justify-content-center">
      <h3> {{ question[currentQuestion] }} </h3>
    </div>
    <div v-if="type[currentQuestion] === 'multiple'">
      <div class="choicebox">
        <div id="sdf" class="container shadow-lg rounded-lg d-flex p-2 justify-content-center">
          <label for="one"> {{ answers[currentQuestion][0].answer }} </label>
            <input
                type="radio"
                id="one"
                value="0"
                v-model="checkedNames"
                @click="sendAnswer"
            />
        </div>
        <div id="sdf" class="container shadow-lg rounded-lg d-flex p-2 justify-content-center">
          <label for="two"> {{ answers[currentQuestion][1].answer }} </label>
            <input
                type="radio"
                id="two"
                value="1"
                v-model="checkedNames"
                @click="sendAnswer"
            />
        </div>
        <div id="sdf" class="container shadow-lg rounded-lg d-flex p-2 justify-content-center">
          <label for="three"> {{ answers[currentQuestion][2].answer }} </label>
            <input
                type="radio"
                id="three"
                value="2"
                v-model="checkedNames"
                @click="sendAnswer"
            />
        </div>
        <div id="sdf" class="container shadow-lg rounded-lg d-flex p-2 justify-content-center">
          <label for="four"> {{ answers[currentQuestion][3].answer }} </label>
            <input
                type="radio"
                id="four"
                value="3"
                v-model="checkedNames"
                @click="sendAnswer"
            />
        </div>
      </div>
    </div>
    <div v-else-if="type[currentQuestion] === 'boolean'">
      <div class="choicebox">
        <div id="sdf" class="container shadow-lg rounded-lg d-flex p-2 justify-content-center">
          <label for="one"> {{ answers[currentQuestion][0].answer }} </label>
            <input
                type="radio"
                id="one"
                value="0"
                v-model="checkedNames"
                @click="sendAnswer"
            />
        </div>
        <div id="sdf" class="container shadow-lg rounded-lg d-flex p-2 justify-content-center">
          <label for="two"> {{ answers[currentQuestion][1].answer }} </label>
            <input
                type="radio"
                id="two"
                value="1"
                v-model="checkedNames"
                @click="sendAnswer"
            />
        </div>
      </div>
    </div>
    <div class="bg-success container shadow-lg rounded-lg d-flex p-2 justify-content-center">
      <h2> Score: {{ score * 10 }}/{{ question.length * 10 }} </h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 bg-light text-right d-flex p-2 justify-content-center"
             v-if="currentQuestion >= question.length">
          <button type="button" class="btn btn-dark" @click="displayResults">Results</button>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "Questions",
  data() {
    return {
      checkedNames: 0,
    };
  },
  methods: {
    displayResults(){
      this.$router.push("/results")
    },
    sendAnswer() {
      this.$store.dispatch(
          "sendAnswer",
          this.answers[this.currentQuestion][this.checkedNames]
      );
      console.log(this.checkedNames)
    },
  },
  computed: {
    question() {
      return this.$store.state.questions;
    },
    answers() {
      return this.$store.state.quizAnswers;
    },
    type() {
      return this.$store.state.questionTypes;
    },
    currentQuestion() {
      return this.$store.state.currentQuestion;
    },
    score() {
      return this.$store.state.userScore;
    },
  }
}
</script>

<style scoped>

#sdf {
  margin-top: 20px;
  margin-bottom: 20px;
}

</style>