<template>
  <main>
    <router-view/>
    <div>
      <div class="bg-success container shadow-lg rounded-lg d-flex p-2 justify-content-center">
        <h2>RESULT</h2>
      </div>
      <div id="sdf" class="container shadow-lg rounded-lg d-flex p-2 justify-content-center">
        <h3> Score: {{ score * 10 }}/{{ questions.length * 10 }} </h3>

      </div>
      <div id="overview" class="bg-light container shadow-lg rounded-lg d-flex p-2 justify-content-center">
        <!-- <p> Question and answers here.... </p> -->
        <div class="bg-secondary">
          <div
              v-for="question in questions"
              :key="question.ID">

            <div class="bg-light container shadow-lg rounded-lg  justify-content-center">
              <div class="row"><p>{{ question }} </p></div>
            </div>
          </div>
          <div class="bg-light container shadow-lg rounded-lg  justify-content-center">
            <br/>
            You answered: {{ userAnswers }}
            <br/>
            Correct Answers were: {{ correctAnswers }}
          </div>
        </div>
      </div>

      <div class="container">
        <div class="d-flex justify-content-between">
          <div id="replayDiv" class=" align-items-start  text-right d-flex p-2 justify-content-center">
            <button type="button" class="btn btn-dark" @click="replay">REPLAY</button>
          </div>
          <div id="backToStartDiv" class=" text-right d-flex p-2 justify-content-center">
            <button type="button" class="btn btn-dark" @click="restart">BACK TO STARTSCREEN</button>
          </div>
        </div>
      </div>
    </div>

  </main>

</template>

<script>
export default {
  name: "Result",
  created(){
    this.$store.dispatch("updateUserScore")
  },
  methods: {
    replay() {
      this.$store.dispatch("loadQuestions")
      this.$router.push("/questions")
    },
    restart() {
      this.$router.push("/start");
    },
  },
  computed: {
    userAnswers() {
      return this.$store.state.userAnswers;
    },
    quizAnswers() {
      return this.$store.state.quizAnswers;
    },
    questions() {
      return this.$store.state.questions;
    },
    correctAnswers() {
      return this.$store.state.correctAnswers;
    },
    score() {
      return this.$store.state.userScore;
    }
  }
}
</script>

<style scoped>
#replayDiv, #backToStartDiv {
  margin-top: 40px;
}
</style>