<template>

  <main>
    <router-view/>
    <div>
      <div class="bg-success container shadow-lg rounded-lg d-flex p-2 justify-content-center">
        <h2> THE TRIVIA GAME</h2>
      </div>
      <div id="sdf" class="container shadow-lg rounded-lg d-flex p-2 justify-content-center">
        <!-- Using components -->
        <form>
          <div id="userDiv">
            <label class="label">USERNAME:</label>
            <!-- <input type="text" v-model="userName" class="form-control" id="username" placeholder=""> -->
            <b-form-input
              id="input-live"
              v-model="username"
              :state="usernameState"
              aria-describedby="input-live-help input-live-feedback"
              trim
            ></b-form-input>

        <!-- This will only be shown if the preceding input has an invalid state -->
        <b-form-invalid-feedback id="input-live-feedback">
          Username can not be empty.
        </b-form-invalid-feedback>

          </div>
          <div id="difficultyDiv" class="form-group">
            <label class="label">DIFFICULTY:</label>
            <select class="form-select" v-model="selectedDifficulty">
              <option
                  v-for="difficulty in difficulties"
                  :value="difficulty.difficulty"
                  :key="difficulty.ID"
              >
                {{ difficulty.difficulty }}
              </option>
            </select>
          </div>
          <div id="numOfQuestionDiv" class="form-group">
            <label class="label">NUMBER OF QUESTIONS:</label>
            <select class="form-select" v-model="selectedNumberOfQuestions">
              <option
                  v-for="questions in numberOfQuestions"
                  :value="questions.questions"
                  :key="questions.ID"
              >
                {{ questions.questions }}
              </option>
            </select>
          </div>
          <div id="categoryDiv" class="form-group">
            <label class="label">CATEGORY:</label>
            <select class="form-select" v-model="selectedCategory">
              <option
                  v-for="category in categories"
                  :key="category.id"
                  :value="category.id"
              >
                {{ category.name }}
              </option>
            </select>
          </div>
        </form>

      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 bg-light text-right d-flex p-2 justify-content-center">
            <button type="button" :disabled="!username" class="btn btn-dark" @click="loadQuestions">PLAY</button>
          </div>
        </div>
      </div>
    </div>
  </main>

</template>

<script>
export default {
  name: "Start",
  data() {
    return {
      toggle: false,
      userScore: 0,
      username: ''
    };
  },
  methods: {
    loadQuestions() {
      this.$store.dispatch("getUserByUsername")
      this.$store.dispatch("loadQuestions")
      this.$router.push("/questions")
    }
  },
  created() {
    this.$store.dispatch("loadCategories");
  },
  computed: {
    usernameState() {
      return this.username.length === 0 ? false : true
    },
    userName: {
      //getter
      get() {
        return this.$store.state.user.userName;
      },
      //setter
      set(value) {
        this.$store.commit("setUsername", value);
      }
    },
    selectedCategory: {
      //getter
      get() {
        return this.$store.state.selectedCategory;
      },
      //setter
      set(value) {
        this.$store.commit("setCategory", value);
      }
    },
    selectedNumberOfQuestions: {
      //getter
      get() {
        return this.$store.state.selectedNumberOfQuestions;
      },
      //setter
      set(value) {
        this.$store.commit("setNumberOfQuestions", value);
      },
    },
    selectedDifficulty: {
      //getter
      get() {
        return this.$store.state.selectedDifficulty;
      },
      //setter
      set(value) {
        this.$store.commit("setDifficulty", value);
      },
    },
    categories() {
      // Return categories from state
      return this.$store.state.categories;
    },
    difficulties() {
      //return difficulties from state store
      return this.$store.state.difficulties;
    },
    numberOfQuestions() {
      return this.$store.state.numberOfQuestions;
    }

  }
}
</script>

<style scoped>
#userDiv, #difficultyDiv, #numOfQuestionDiv, #categoryDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}


</style>