// // Define variable defaults
// $body-bg: #000;
// $body-color: #111;

input[type=radio] {
  width: -100px; height: -500;
  display: inline;
  visibility: hidden;
}

label {
  font-weight: bold;
  cursor: pointer;
}
label:hover, label:active, input:hover+label, input:active+label {
  background:rgba(255, 0, 0, 0.4);
}

// // Then import Bootstrap an BootstrapVue SCSS files (order is important)
// @import 'node_modules/bootstrap/scss/bootstrap.scss';
// @import 'node_modules/bootstrap-vue/src/index.scss';